assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
media/temp/*
!media/temp/.gitignore
media/pic/*
!media/pic/.gitignore
.buildpath
.project
.settings/*